//typography
=h1
	font-weight: bold
	+font-size($xLarge, $baseline*1.5)
	padding-top: base()


=h2
	+font-size($medium)
	padding-top: base()
	text-align: left
	font-weight: bold

=h2alt
	+font-size($large)
	padding-top: base()
	text-align: center
	font-weight: bold
	padding-bottom: base(.5)

=text
	p
		+font-size($small)
		margin-top: base()

=smallText
	p
		+font-size($xSmall)
		margin-top: base(0.5)

=list
	padding-left: 27px
	li
		+font-size($small)
		list-style-image: inline-image("arrow.svg")
		padding-top: base(.5)

=input
	margin-top: base()
	font-size: base()
	padding-left: base(.5)
	height: $button-height
	line-height: $button-height
	border: 0
	+borderRadius()
	width: $inputW

=footerStyle
	+font-size($small)


=formal
	.formal
		display: block
		color: $blue
		font-weight: bold

=author
	font-weight: bold
	text-align: right
	+font-size(18)
	+formal

=ad
	.cta__logo
		padding-top: base()
	.cta__header
		padding-top: base(.5)
		+font-size($large, $baseline*1.5)
		text-align: center
		font-weight: bold
	.cta__button
		padding-top: base(1.5)
		+spinButton

=logo
	display: block
	margin: 0 auto
	width: 197px
	.logotype-icon
		width: $logoW
		display: block
		height: base(2)

=altLabel
	background: $black
	position: absolute
	left: 50%
	padding: 0 base()
	top: base(-0.5)
	margin: 0 auto
	text-align: center
	transform: translateX(-50%)

=buttonStyle
	text-decoration: none
	width: $buttonW
	display: block
	font-size: $small+px
	height: $button-height
	line-height: $button-height
	+borderRadius
	text-align: center
	margin: 0 auto
	border: 0


=button($type: block)
	+buttonStyle
	margin-top: base()
	@if $type == 'inline'
		float: right
		display: inline-block
		width: auto
		padding: 0 base()

=spinButton
	.button__link
		+buttonStyle
		transform: translate3d(0, 0, 0)

	.button__hover
		+buttonStyle
		font-size: $xSmall+px
		transform: rotateX(-90deg) translateZ(-$button-height/2)

	//Pixel-hack
	.button__default
		+borderRadius()

	//Disable spinning in IE.
	body.ie & .button__hover
		display: none

	//spinny part
	body:not(.ie) & .hoverable
		transition: all 150ms ease
		transform-style: preserve-3d

		.button__default
			transform: translateZ($button-height/2)

		&:hover
			transform: rotateX(90deg)
