//typography
=header
	font-weight: bold
	+font-size(32)
	padding-top: base()
	text-align: center


=mediumHeader
	+font-size(24)
	padding-top: base()
	text-align: left
	font-weight: bold

=smallHeader
	+font-size(28)
	padding-top: base()
	text-align: center
	font-weight: bold

=text
	p
		+font-size(18)
		margin-top: base()

=smallText
	p
		+font-size(14)
		margin-top: base(0.5)

=formal
	.formal
		display: block
		color: $blue
		font-weight: bold

=author
	+font-size(18)
	text-align: right
	+formal

=ad
	.cta__logo
		+logo
	.cta__header
		padding-top: base(.5)
		+font-size(28, $baseline*1.5)
		text-align: center
		font-weight: bold
	.cta__button
		padding-top: base(1.5)
		+spinButton

=smallAuthor
	+font-size(14)
	text-align: right
	+formal

=input
	margin-top: base()
	font-size: base()
	padding-left: base(.5)
	height: $button-height
	line-height: $button-height
	border: 0
	+borderRadius()
	width: 278px

=list
	padding-top: base(.5)
	padding-left: base(1.5)
	li
		+font-size(18)
		background: image-uri('test.svg')
		//list-style-image: url('data:image/svg+xml;<svg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 9 9'><text x='0' y='8'>x</text></svg>')
		padding-top: base(.5)

=logo
	display: block
	padding-top: base()
	.logotype-icon
		margin: 0 auto
		display: block
		width: 197px
		height: base(2)

=altLabel
	background: $black
	position: absolute
	left: 50%
	padding: 0 base()
	top: base(-0.5)
	margin: 0 auto
	text-align: center
	transform: translateX(-50%)

=buttonStye
	text-decoration: none
	width: 300px
	display: block
	font-size: 18px
	height: $button-height
	line-height: $button-height
	+borderRadius
	text-align: center
	margin: 0 auto
	border: 0


=button($type: block)
	+buttonStye
	margin-top: base()
	@if $type == 'inline'
		float: right
		display: inline-block
		width: auto
		padding: 0 base()

=spinButton
	-webkit-perspective: 1000

	.button__link
		+buttonStye
		transform: translate3d(0, 0, 0)

	.button__hover
		+buttonStye
		font-size: 15px
		transform: rotateX(-90deg) translateZ(-$button-height/2)

	//Pixel-hack
	.button__default
		+borderRadius()

	//Disable spinning in IE.
	body.ie & .button__hover
		display: none

	//spinning part
	body:not(.ie) & .hoverable
		transition: all 150ms ease
		transform-style: preserve-3d

		.button__default
			transform: translateZ($button-height/2)

		&:hover
			transform: rotateX(90deg)
