//Horizontal grid
=content
	padding-top: base()
	padding-right: $sidebar
	overflow: auto
	>*
		float: right
		padding: 0 8% base(2)

=sidebar
	position: absolute
	top: 0
	right: 0
	height: 100%
	>*
		padding: 0 base(2) base(2)
		width: $sidebar

=alternatives
	padding-top: base()
	height: 100vw
	&.topFix
		position: fixed
		top: 0
	&.bottomFix
		position: absolute
		bottom: 0
	>*:first-child::before
		content: initial
	>*
		position: relative
		padding-bottom: base(1.5)
		+border-top
		&::before
			padding-top: base(.5)

=comment
	+border-top
	margin-top: base(1.5)
	&:first-of-type
		margin-top: 0
		&::before
			content: initial
	&::before
		padding-top: base(.5)

=footer
	padding: 0 8%
	.footer-navigation
		padding-top: base(5)
		padding-bottom: base(3.5)
		margin: 0 auto
		@include flexbox
		@include justify-content(flex-end)
		.footer-navigation__section
			margin-right: base(3.5)
		.footer-navigation__section:last-child
			margin-right: 0
		.footer-navigation__link
			display: block
			&:first-of-type
				margin-top: base(.5)
		.footer__logotype
			flex-grow: 1

=border-top
	&::before
		content: ''
		border-top-width: 1px
		border-top-style: solid
		display: block
		margin-top: -1px

//Vertical grid
$baseline: 24px


@function base($count: 1, $offset: 0)
	$val: $baseline*$count + $offset
	@return $val

//@if $line-height ..
=font-size($font-size, $line-height: $baseline, $cap-height: 0.7)
	$baseline-distance: ($line-height - ($cap-height*$font-size)) / 2
	font-size: $font-size
	line-height: $line-height
	position: relative
	top: $baseline-distance