//Components only have padding top. Any padding-bottom goes in grid.
@import "variables"
@import "grid"
//Reset
@import "reset"
@import "defaults"

@import "components"

//@import "baseline"


.question__wrapper
	+wideColumn
	background: $green
	.question
		.question__title
			+header
		.question__text
			+text
		.question__author
			+author


.answer__wrapper
	+wideColumn
	color: $black

.answer
	.answer__header
		+header
	.answer__text
		+text
	.answer__author
		+author

.context
	background: $blue
	+thinColumn

.cta__logo
	+logo

.cta__header
	+smallHeader

.cta__button
	+spinButton

	.button__default
		color: $darkYellow
		background: $yellow

	.button__hover
		color: white
		background: $green

.alts
	background: $black
	+alternatives

.alts__info__header
	+smallHeader

.alts__info__text
	+text

.alts__question__button
	+button
	color: $darkYellow
	background: $yellow


.alts__search__label
	+altLabel
	font-style: italic

.alts__search__input
	+input

.alts__search__button
	+button('inline')
	color: $darkYellow
	background: $yellow

.alts__other__label
	+altLabel

.alts__other__questions
	+list