//Colors
$gray: #CCC
$black: #4A4A4A
$green: #009B58
$darkGreen: #06452A
$lightBlue: #E7F2FF
$blue: #378DF1
$darkBlue: #1E62A5
$darkerBlue: #0d294a
$yellow: #FFBB2F
$darkYellow: #6C4B00

$sidebar: 458px
$button-height: 48px


//fonts
$xSmall: 14px
$small: 18px
$medium: 24px
$large: 28px
$xLarge: 32px

$iconSize: 60px
$logoW: 197px
$inputW: 278px
$buttonW: 300px
=borderRadius($val: 4)
	border-radius: #{$val}px

=transistion
	-moz-transition: all 0.4s ease-out
	-o-transition: all 0.4s ease-out
	-webkit-transition: all 0.4s ease-out
	transition: all 0.4s ease-out

@font-face
	font-family: 'gt-haptik'
	src: url('../fonts/gt-haptik-light-webfont.eot')
	src: url('../fonts/gt-haptik-light-webfont.eot') format('embedded-opentype'),url('../fonts/gt-haptik-light-webfont.woff2') format('woff2'),url('../fonts/gt-haptik-light-webfont.woff') format('woff'),url('../fonts/gt-haptik-light-webfont.ttf') format('truetype'),url('../fonts/gt-haptik-light-webfont.svg') format('svg')
	font-weight: 200
	font-style: normal

@font-face
	font-family: 'gt-haptik'
	src: url('../fonts/gt-haptik-regular-webfont.eot')
	src: url('../fonts/gt-haptik-regular-webfont.eot') format('embedded-opentype'),url('../fonts/gt-haptik-regular-webfont.woff2') format('woff2'),url('../fonts/gt-haptik-regular-webfont.woff') format('woff'),url('../fonts/gt-haptik-regular-webfont.ttf') format('truetype'),url('../fonts/gt-haptik-regular-webfont.svg') format('svg')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'gt-haptik'
	src: url('../fonts/gt-haptik-bold-webfont.eot')
	src: url('../fonts/gt-haptik-bold-webfont.eot') format('embedded-opentype'),url('../fonts/gt-haptik-bold-webfont.woff2') format('woff2'),url('../fonts/gt-haptik-bold-webfont.woff') format('woff'),url('../fonts/gt-haptik-bold-webfont.ttf') format('truetype'),url('../fonts/gt-haptik-bold-webfont.svg') format('svg')
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'relativefaux'
	src: url('../fonts/relative-faux-webfont.eot')
	src: url('../fonts/relative-faux-webfont.eot') format('embedded-opentype'),url('../fonts/relative-faux-webfont.woff2') format('woff2'),url('../fonts/relative-faux-webfont.woff') format('woff'),url('../fonts/relative-faux-webfont.ttf') format('truetype'),url('../fonts/relative-faux-webfont.svg') format('svg')
	font-weight: normal
	font-style: normal